name: OS Static Analysis

on:
  workflow_call:
    inputs:
      container:
        required: True
        type: string

jobs:
  nox:
    runs-on: ubuntu-latest
    container: ${{ inputs.container }}
    strategy:
      matrix:
        python-version:
          - 3.12

        session:
          - docs
          - analyze_pytype
          - analyze_mypy
          - analyze_misc
          - analyze_ruff


    steps:
      - uses: actions/checkout@v3
      - name: Run nox
        run: |
          #
          # 2025-11-19 [JRH]: Manually installing astroid to its latest version
          # is necessary to get pylint to work. Maybe someday this won't be
          # needed.
          uv sync -p ${{ matrix.python-version }} --group dev && \
          uv run -p ${{ matrix.python-version }} nox \
            --pythons ${{ matrix.python-version }} \
            --sessions ${{ matrix.session }}
