name: OS Static Analysis

on:
  workflow_call:
    inputs:
      os:
        required: True
        type: string

jobs:
  nox:
    runs-on: ${{ inputs.os }}
    strategy:
      matrix:
        os:
          - ${{ inputs.os }}

        # 2024/08/26: Test the earliest and latest supported version, to speed
        # up CI. Well, that's what it should do, but linting doesn't work for >
        # 3.10 (see pyproject.toml for details).
        python-version:
          - 3.9
          - "3.10"

        session:
          - lint
          - docs
          - analyze_pytype
          - analyze_mypy

        exclude:
          - os: ubuntu-22.04
            python-version: 3.10

          - os: ubuntu-24.04
            python-version: 3.9


    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/sierra-setup
        with:
          python-version: ${{ matrix.python-version }}

      - uses: kenchan0130/actions-system-info@master
        id: system-info

      - name: Run nox
        run: |
          uv sync -p ${{ matrix.python-version }} --extra devel && \
          nox \
            --pythons ${{ matrix.python-version }} \
            --sessions ${{ matrix.session }} \
            --default-venv-backend=uv
