name: SIERRA Core CI

on:
  workflow_call:
    inputs:
      os:
        required: True
        type: string

jobs:
  plumbing:
    runs-on: ${{ inputs.os }}
    strategy:
      matrix:
        os:
          - ${{ inputs.os }}

        # 2024/08/26: Test the earliest and latest supported version, to speed
        # up CI.
        python-version:
          - 3.9
          - 3.12

        function:
          - cmdline_opts_test
          - env_vars_test

        exclude:
          - os: ubuntu-22.04
            python-version: 3.12

          - os: ubuntu-24.04
            python-version: 3.9

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/sierra-setup
      - uses: ./.github/actions/sample-project-setup
        with:
          platform: argos

      - uses: nick-fields/retry@v3
        with:
          timeout_minutes: 30
          max_attempts: 3
          shell: bash
          command: uv run -p ${{ matrix.python-version }} nox -s core_integration -p ${{ matrix.python-version }} --default-venv-backend=uv -- -f ${{ matrix.function }}

      - uses: actions/upload-artifact@v4
        with:
          name: ci-core-${{ matrix.function }}-${{ matrix.os }}-${{ matrix.python-version }}-coverage
          path: .coverage.*
          include-hidden-files: true
          if-no-files-found: error
