name: SIERRA Core CI

on:
  workflow_call:

jobs:
  plumbing:
    runs-on: ubuntu-latest
    container: ${{ matrix.container }}
    strategy:
      matrix:
        container:
          - jharwell/ubuntu24.04-sierra:latest

        # 2024/08/26: Test the earliest and latest supported version, to speed
        # up CI.
        python-version:
          - "3.10"
          - 3.12

        session:
          - core_cmdline_opts
          - core_env_vars
          - core_builtin_bc
          - core_parallelism
          - core_stage1_bivar
          - core_stage2_bivar
          - core_stage3_bivar
          - core_stage4_bivar
          - core_stage5_univar
          - core_stage5_bivar

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/sample-project-setup
        with:
          engine: argos

      - uses: nick-fields/retry@v3
        with:
          timeout_minutes: 30
          max_attempts: 3
          shell: bash
          command: |
            uv run nox -p ${{ matrix.python-version }} -s ${{ matrix.session }}

      - uses: actions/upload-artifact@v4
        with:
          name: ci-core-${{ matrix.session }}-${{ matrix.os }}-${{ matrix.python-version }}-coverage
          path: .coverage.*
          include-hidden-files: true
          if-no-files-found: error
