# Only stuff that actually tests the platform should be here: stage 1 and 2.
name: Plugin CI

on:
  workflow_call:

jobs:
  plugin-argos:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
        working-directory: ${{ github.workspace }}

    strategy:
      matrix:
        os:
          - ubuntu-22.04
          - ubuntu-24.04

        # 2024/08/26: Test the earliest and latest supported version, to speed
        # up CI.
        python-version:
          - 3.9
          - 3.12

        function:
          # 2025-04-25 [JRH]: These are redundant with other tests which also
          # check the outputs that each stage generates. Useful as smoke tests
          # though, so maybe they will eventually be added back into the
          # pipeline.
          # - sanity_bivar_test
          # - sanity_univar_test

          - physics_engines_test
          - vc_test
          - imagize_test
          - cmdline_test
          - stage1_univar_test
          - stage2_univar_test
          - stage3_univar_test
          - stage4_univar_test
          # - stage5_univar_test
          - stage1_bivar_test
          - stage2_bivar_test
          - stage3_bivar_test
          # - stage5_bivar_test

        # We only run a few OSX tests, because most of the ARGoS tests don't
        # rely on OS-specific things, and testing them adds marginal confidence.
        include:
          - os: macos-13
            function: stage1_univar_test
            python-version: 3.12

          - os: macos-13
            function: stage2_univar_test
            python-version: 3.9

        exclude:
          - os: ubuntu-22.04
            python-version: 3.12

          - os: ubuntu-24.04
            python-version: 3.9

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/sierra-setup
        with:
          python-version: ${{ matrix.python-version }}

      - uses: ./.github/actions/sample-project-setup
        with:
          platform: argos

      - uses: nick-fields/retry@v3
        name: Integration tests
        with:
          timeout_minutes: 60
          max_attempts: 3
          command: uv sync -p ${{ matrix.python-version }} --extra devel && nox -s plugin_argos_integration -p ${{ matrix.python-version }} --default-venv-backend=uv -- -f ${{ matrix.function }} -e hpc.local

      - uses: actions/upload-artifact@v4
        with:
          name: ci-platform-argos-${{ matrix.function }}-${{ matrix.os }}-${{ matrix.python-version }}-coverage
          path: .coverage.*
          include-hidden-files: true
          if-no-files-found: error

  plugin-ros1robot:
    runs-on: ubuntu-latest
    container: ubuntu:20.04
    defaults:
      run:
        shell: bash
        working-directory: ${{ github.workspace }}

    strategy:
      matrix:
        python-version:
          - 3.9

        function:
          - stage1_test

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/sierra-setup
        with:
          python-version: ${{ matrix.python-version }}

      - uses: ./.github/actions/sample-project-setup
        with:
          platform: ros1robot
          rosdistro: noetic

      - name: Integration tests
        run: |
          source .venv/bin/activate
          nox \
          -s plugin_ros1robot_integration \
          -p ${{ matrix.python-version }} \
          -- -f ${{ matrix.function }} -e hpc.local

      - uses: actions/upload-artifact@v4
        with:
          name: ci-platform-ros1robot-${{ matrix.function }}-ubuntu-20.04-${{ matrix.python-version }}-coverage
          path: .coverage.*
          include-hidden-files: true
          if-no-files-found: error

  plugin-ros1gazebo:
    runs-on: ubuntu-latest
    container: ubuntu:20.04
    defaults:
      run:
        shell: bash
        working-directory: ${{ github.workspace }}

    strategy:
      matrix:
        # You CANNOT use python 3.9 with ubuntu 20.04 with ROS, because 3.9 is
        # the system python and things just don't work otherwise...
        python-version:
          - 3.9

        function:
          - stage1_bivar_test
          - stage2_univar_test

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/sierra-setup
        with:
          python-version: ${{ matrix.python-version }}

      - uses: ./.github/actions/sample-project-setup
        with:
          platform: ros1gazebo
          rosdistro: noetic

      - name: Integration tests
        run: |
          source .venv/bin/activate
          nox \
          -s plugin_ros1gazebo_integration \
          -p ${{ matrix.python-version }} \
          -- -f ${{ matrix.function }} -e hpc.local

      - uses: actions/upload-artifact@v4
        with:
          name: ci-platform-ros1gazebo-${{ matrix.function }}-ubuntu-20.04-${{ matrix.python-version }}-coverage
          path: .coverage.*
          include-hidden-files: true
          if-no-files-found: error

  plugin-jsonsim:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ${{ github.workspace }}

    strategy:
      matrix:
        python-version:
          - 3.9
        os:
          - ubuntu-22.04

        function:
          - stage1_test
          - stage2_univar_test
          - stage3_test
          - stage4_test

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/sierra-setup
        with:
          python-version: ${{ matrix.python-version }}

      - uses: ./.github/actions/sample-project-setup
      - name: Integration tests
        run: |
          uv sync -p ${{ matrix.python-version }} --extra devel &&
          nox \
          -s plugin_jsonsim_integration \
          -p ${{ matrix.python-version }} \
          --default-venv-backend=uv \
          -- -f ${{ matrix.function }} -e hpc.local

      - uses: actions/upload-artifact@v4
        with:
          name: ci-platform-jsonsim-${{ matrix.function }}-${{ matrix.os }}-${{ matrix.python-version }}-coverage
          path: .coverage.*
          include-hidden-files: true
          if-no-files-found: error

  plugin-exec-env:
    runs-on: ubuntu-22.04
    defaults:
      run:
        shell: bash
        working-directory: ${{ github.workspace }}

    strategy:
      matrix:
        # You CANNOT use python 3.9 with ubuntu 20.04 with ROS, because 3.9 is
        # the system python and things just don't work otherwise...
        python-version:
          - 3.9

        platform:
          - argos

        exec-env:
          - hpc.adhoc
          - hpc.slurm

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/sierra-setup
        with:
          python-version: ${{ matrix.python-version }}

      - uses: ./.github/actions/sample-project-setup
        if: matrix.platform == 'argos'
        with:
          platform: argos

      - uses: ./.github/actions/sample-project-setup
        if: matrix.platform == 'ros1gazebo'
        with:
          platform: ros1gazebo
          rosdistro: noetic

      - uses: ./.github/actions/slurm-setup
        if: matrix.exec-env == 'hpc.slurm'

      - name: Integration Tests
        if: matrix.platform != ''
        run: |
          uv sync -p ${{ matrix.python-version }} --extra devel &&
          nox \
          -s plugin_${{ matrix.platform }}_integration \
          -p ${{ matrix.python-version }} \
          --default-venv-backend=uv \
           -- -f stage2_univar_test -e ${{ matrix.exec-env }}

      - uses: actions/upload-artifact@v4
        with:
          name: ci-platform-${{ matrix.platform }}-${{ matrix.exec-env }}-ubuntu-22.04-${{ matrix.python-version }}-coverage
          path: .coverage.*
          include-hidden-files: true
          if-no-files-found: error
