# Only stuff that actually tests the engine should be here: stage 1 and 2.
name: Plugin CI

on:
  workflow_call:

jobs:
  plugin-argos:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
        working-directory: ${{ github.workspace }}

    strategy:
      matrix:
        os:
          - ubuntu-22.04
          - ubuntu-24.04

        # 2024/08/26: Test the earliest and latest supported version, to speed
        # up CI.
        python-version:
          - 3.9
          - 3.12

          # 2025-07-11 [JRH]: We only test univar things here because anything
          # greater than that doesn't test anything new in the plugin, but only
          # in the SIERRA core.
        session:
          - argos_physics_engines
          - argos_vc
          - argos_imagize
          - argos_cmdline
          - argos_stage1_univar
          - argos_stage3_univar
          - argos_stage4_univar

        # We only run a few OSX tests, because most of the ARGoS tests don't
        # rely on OS-specific things, and testing them adds marginal confidence.
        include:
          - os: macos-13
            session: argos_stage1_univar
            python-version: 3.12

          - os: macos-13
            session: argos_stage3_univar
            python-version: 3.9

        exclude:
          - os: ubuntu-22.04
            python-version: 3.12

          - os: ubuntu-24.04
            python-version: 3.9

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/sierra-setup
        with:
          python-version: ${{ matrix.python-version }}

      - uses: ./.github/actions/sample-project-setup
        with:
          engine: argos

      - uses: nick-fields/retry@v3
        name: Smoke tests
        with:
          timeout_minutes: 60
          max_attempts: 3
          command: nox -s ${{ matrix.session }} -p ${{ matrix.python-version }}

      - uses: actions/upload-artifact@v4
        with:
          name: ci-engine-argos-${{ matrix.session }}-${{ matrix.os }}-${{ matrix.python-version }}-coverage
          path: .coverage.*
          include-hidden-files: true
          if-no-files-found: error

  plugin-ros1robot:
    runs-on: ubuntu-latest
    container: ubuntu:20.04
    defaults:
      run:
        shell: bash
        working-directory: ${{ github.workspace }}

    strategy:
      matrix:
        python-version:
          - 3.9

        session:
          - ros1robot_stage1_univar

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/sierra-setup
        with:
          python-version: ${{ matrix.python-version }}

      - uses: ./.github/actions/sample-project-setup
        with:
          engine: ros1robot
          rosdistro: noetic

      - name: Smoke tests
        run: |
          nox -s ${{ matrix.session }} -p ${{ matrix.python-version }}

      - uses: actions/upload-artifact@v4
        with:
          name: ci-engine-ros1robot-${{ matrix.session }}-ubuntu-20.04-${{ matrix.python-version }}-coverage
          path: .coverage.*
          include-hidden-files: true
          if-no-files-found: error

  plugin-ros1gazebo:
    runs-on: ubuntu-latest
    container: ubuntu:20.04
    defaults:
      run:
        shell: bash
        working-directory: ${{ github.workspace }}

    strategy:
      matrix:
        # You CANNOT use python 3.9 with ubuntu 20.04 with ROS, because 3.9 is
        # the system python and things just don't work otherwise...
        python-version:
          - 3.9

        session:
          - ros1gazebo_stage1_univar

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/sierra-setup
        with:
          python-version: ${{ matrix.python-version }}

      - uses: ./.github/actions/sample-project-setup
        with:
          engine: ros1gazebo
          rosdistro: noetic

      - name: Smoke tests
        run: |
          source .venv/bin/activate
          nox -s ${{ matrix.session }} -p ${{ matrix.python-version }}

      - uses: actions/upload-artifact@v4
        with:
          name: ci-engine-ros1gazebo-${{ matrix.session }}-ubuntu-20.04-${{ matrix.python-version }}-coverage
          path: .coverage.*
          include-hidden-files: true
          if-no-files-found: error

  plugin-jsonsim:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ${{ github.workspace }}

    strategy:
      matrix:
        python-version:
          - 3.9
        os:
          - ubuntu-22.04

        session:
          - jsonsim_stage1_univar
          - jsonsim_stage3_univar
          - jsonsim_stage4_univar

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/sierra-setup
        with:
          python-version: ${{ matrix.python-version }}

      - uses: ./.github/actions/sample-project-setup
      - name: Smoke tests
        run: |
          uv run nox -p ${{ matrix.python-version }} -s ${{ matrix.session }}

      - uses: actions/upload-artifact@v4
        with:
          name: ci-engine-jsonsim-${{ matrix.session }}-${{ matrix.os }}-${{ matrix.python-version }}-coverage
          path: .coverage.*
          include-hidden-files: true
          if-no-files-found: error


  plugin-exec-env-2404:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ${{ github.workspace }}

    strategy:
      matrix:
        python-version:
          - 3.9

        session:
          - execenv_hpc-3.9(engine='engine.argos', env='hpc.local')
          - execenv_hpc-3.9(engine='engine.argos', env='hpc.adhoc')
          - execenv_hpc-3.9(engine='engine.argos', env='hpc.slurm')
          - execenv_hpc-3.9(engine='plugins.jsonsim', env='hpc.local')
          - execenv_hpc-3.9(engine='plugins.jsonsim', env='hpc.adhoc')
          - execenv_hpc-3.9(engine='plugins.jsonsim', env='hpc.slurm')
          - execenv_prefectserver

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/sierra-setup
        with:
          python-version: ${{ matrix.python-version }}

      - uses: ./.github/actions/sample-project-setup
        with:
          engine: argos

      - uses: ./.github/actions/slurm-setup
      - uses: ./.github/actions/sample-project-setup
        with:
          engine: jsonsim

      - name: Smoke Tests
        run: |
          nox -s "${{ matrix.session }}" -p ${{ matrix.python-version }}

      - uses: actions/upload-artifact@v4
        with:
          name: ci-exec-env-${{ matrix.session }}-ubuntu-22.04-${{ matrix.python-version }}-coverage
          path: .coverage.*
          include-hidden-files: true
          if-no-files-found: error

  plugin-exec-env-2004:
    runs-on: ubuntu-latest
    container: ubuntu:20.04
    defaults:
      run:
        shell: bash
        working-directory: ${{ github.workspace }}

    strategy:
      matrix:
        python-version:
          - 3.9

        session:
          # 2025-08-25 [JRH]: SLURM doesn't work on 20.04 because that runs in a
          # container, and setting up slurm requires systemd...so, just don't
          # run SLURM on 20.04, which adds marginal confidence anyway.
          - execenv_hpc-3.9(engine='engine.ros1gazebo', env='hpc.local')
          # - execenv_hpc-3.9(engine='engine.ros1gazebo', env='hpc.adhoc')

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/sierra-setup
        with:
          python-version: ${{ matrix.python-version }}

      - uses: ./.github/actions/sample-project-setup
        with:
          engine: ros1gazebo

      - name: Smoke Tests
        run: |
          source .venv/bin/activate
          . $HOME/.local/setup.bash # sierra rosbridge install prefix
          nox -s "${{ matrix.session }}" -p ${{ matrix.python-version }}

      - uses: actions/upload-artifact@v4
        with:
          name: ci-exec-env-${{ matrix.session }}-ubuntu-20.04-${{ matrix.python-version }}-coverage
          path: .coverage.*
          include-hidden-files: true
          if-no-files-found: error
