name: Publishing
description: Publish SIERRA to PyPI

# 2025-04-29 [JRH]: Note that per github actions guidance, the publish job has
# to be in a separate workflow than anything else; if it is in the same workflow
# it is unsupported/still might work.
#
# Note also that the 'published' release type will trigger for both prelease
# (what I call beta releases) and formal releases.
on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    container: jharwell/ubuntu24.04-sierra:latest

    steps:
    - uses: actions/checkout@v3
      with:
        persist-credentials: false


    - name: Install uv
      uses: astral-sh/setup-uv@v6

    - name: Build package
      shell: bash
      run: |
        uv sync -p 3.10 --group dev
        cd docs
        uv run -p 3.10 sphinx-build -b linkcheck . _build
        cd ..
        uv build

    - uses: actions/upload-artifact@v4
      with:
        name: pypi-dist
        path: dist/

  upload:
    runs-on: ubuntu-latest
    needs:
      - build

    # 2025-04-29 [JRH]: Magic sauce to get trusted publishing to work with
    # pypi+github actions.
    permissions:
      id-token: write

    steps:
    - uses: actions/download-artifact@v4
      with:
        name: pypi-dist
        path: dist


    - name: Publish to PyPI
      if: ${{ !contains(github.ref, 'beta') }}
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        skip_existing: true
        password: ${{ inputs.pypi-token }}

    - name: Publish to TestPyPI
      if: ${{ contains(github.ref, 'beta') }}
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        skip-existing: true
        password: ${{ inputs.testpypi-token }}
        repository-url: https://test.pypi.org/legacy/
