name: Unit Tests

on:
  workflow_call:

jobs:
  ci-unit-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-22.04
          - ubuntu-24.04
          - macos-13

        # 2024/08/26: Test the earliest and latest supported version, to speed
        # up CI.
        python-version:
          - 3.9
          - 3.12

        exclude:
          - os: ubuntu-22.04
            python-version: 3.12

          - os: ubuntu-24.04
            python-version: 3.9

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/sierra-setup
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run nox
        run: |
          export PATH=$pythonLocation/bin:$PATH
          export PYTHONPATH=$PYTHONPATH:$PWD

          uv run -p ${{ matrix.python-version }} \
          nox \
          --pythons ${{ matrix.python-version }} \
          --sessions unit_tests \
          --default-venv-backend=uv

      - uses: actions/upload-artifact@v4
        with:
          name: ci-unit-tests-${{ matrix.os }}-${{ matrix.python-version }}-coverage
          path: .coverage*
          include-hidden-files: true
          if-no-files-found: error
